body {
    font-family: 'Nunito';
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px
}

.swiper-button-next, .swiper-button-prev {
    color: #003777
}

@layer utilities {
    
    .animation-fill-both {
        animation-fill-mode: both;
    }

    .animationFadeInRightDuration500.animation-element.animated {
        @apply animate-[fadeInRight_0.5s_ease-in-out] animation-fill-both
    }

    .animationFadeInRightDuration1000.animation-element.animated {
        @apply animate-[fadeInRight_1s_ease-in-out] animation-fill-both
    }

    .animationFadeInRightDuration1500.animation-element.animated {
        @apply animate-[fadeInRight_1.5s_ease-in-out] animation-fill-both
    }


    .animationFadeInUp_Duration1000.animation-element.animated {
        @apply animate-[fadeInUp_1s_ease-in-out] animation-fill-both
    }

    .animationFadeInUp_Duration1000_Delay_500.animation-element.animated {
        @apply animate-[fadeInUp_1s_ease-in-out] animation-fill-both [animation-delay:500ms]
    }

    .animationFadeInUp.animation-element.animated {
        @apply animate-[fadeInUp_500ms_ease-in-out] animation-fill-both md:[animation-delay:200ms]
    }

    .animationFadeInRightDelay500.animation-element.animated {
        @apply animate-[fadeInRight_1.5s_ease-in-out] animation-fill-both  md:[animation-delay:500ms]
    }

    .animationFadeInRightDelay1000.animation-element.animated {
        @apply animate-[fadeInRight_1.5s_ease-in-out] animation-fill-both  md:[animation-delay:1000ms]
    }

    .animationFadeInRightDelay1500.animation-element.animated {
        @apply animate-[fadeInRight_1.5s_ease-in-out] animation-fill-both  md:[animation-delay:1500ms]
    }

    .animationFadeInRight_Duration1000_Delay500.animation-element.animated {
        @apply animate-[fadeInRight_1s_ease-in-out] animation-fill-both  md:[animation-delay:500ms]
    }

    .animationFadeInRight_Duration1000_Delay750.animation-element.animated {
        @apply animate-[fadeInRight_1s_ease-in-out] animation-fill-both  md:[animation-delay:750ms]
    }

    .animationFadeInRight_Duration1000_Delay1000.animation-element.animated {
        @apply animate-[fadeInRight_1s_ease-in-out] animation-fill-both  md:[animation-delay:1000ms]
    }

    .animationFadeInRight_Duration500_Delay_1500.animation-element.animated {
        @apply animate-[fadeInRight_0.5s_ease-in-out] animation-fill-both [animation-delay:1500ms]
    }
}

@media (min-width: 540px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1280px;
        padding-right: 30px;
        padding-left: 30px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-right: 5rem;
        padding-left: 5rem
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        padding-right: 8rem;
        padding-left: 8rem
    }
}

@media (min-width: 1792px) {
    .container {
        max-width: 1792px;
        padding-right: 8rem;
        padding-left: 8rem
    }
}