.banner-intro.animation-element.animated {
    @apply animate-mmslideIn animation-fill-both [animattion-duration:500ms] md:[animation-delay:500ms]
}

.banner-intro-image.animation-element.animated {
    @apply animate-mmslideIn animation-fill-both [animattion-duration:1000ms] md:[animation-delay:700ms]
}

.svg-intro.animation-element.animated {
    @apply animate-mmslideInLeft animation-fill-both
}

.product.animation-element.animated {
    @apply animate-mmslideInRight animation-fill-both
}

.product.animation-delay-300.animation-element.animated {
    @apply animate-mmslideInRight animation-fill-both md:[animation-delay:300ms]
}

.product.animation-delay-600.animation-element.animated {
    @apply animate-mmslideInRight animation-fill-both md:[animation-delay:600ms]
}

.read-more {
    @apply py-[18px] px-[47px] bg-button-pattern mb-3 rounded-[100em] transition-shadow hover:shadow-[0px_8px_20px_0px_rgba(3_213_159_.36)]
}

.product-image.animation-element.animated {
    @apply animate-maskFromToTop animation-fill-both
}

.feedback-header.animation-element.animated ,.product-intro.animation-element.animated {
    @apply animate-mmFadeInUp animation-fill-both [animation-duration:800ms]
}

.read-more.animation-element.animated {
    @apply animate-mmFadeInUp animation-fill-both [animation-duration:800ms] [animation-delay:200ms]
}

.blog-header.animation-element.animated {
    @apply animate-mmFadeInRight animation-fill-both 
}

.fadeIn.animation-element.animated {
    @apply animate-mmfadeIn animation-fill-both 
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.bg-position {
    background-position: -50% -10%;
}

.swiper-slide {
    height: auto !important;
}

.swiper-content {
    height: 100% !important
}

.image-blur {
    background-image: url("../images/customer-service.jpg");
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 25px;
    height: 400px;
    background-repeat: inherit;
}

.contact-shadow {
    box-shadow: 0 0 10px rgb(60 72 88 / 0.1);
}